
@{
    ViewBag.Title = "Registracija";
}


<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Kreirajte novi nalog.</h4>
    <hr />

    <div class="form-group">
        <label class="control-label col-md-2">Ime</label>
        <div class="col-md-10">
            <input type="text" name="ime" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Prezime</label>
        <div class="col-md-10">
            <input type="text" name="prezime" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Email</label>
        <div class="col-md-10">
            <input type="email" name="email" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Pol</label>
        <div class="col-md-10 radio-group">
            @foreach (var polValue in Enum.GetValues(typeof(StackOverflow.Data.Entities.Pol)))
            {
                <div class="radio">
                    <label>
                        @Html.RadioButton("pol", polValue, (StackOverflow.Data.Entities.Pol)polValue == StackOverflow.Data.Entities.Pol.Muski)
                        @polValue.ToString()
                    </label>
                </div>
            }
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Država</label>
        <div class="col-md-10">
            <input type="text" name="drzava" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Grad</label>
        <div class="col-md-10">
            <input type="text" name="grad" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Adresa</label>
        <div class="col-md-10">
            <input type="text" name="adresa" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Slika korisničkog naloga</label>
        <div class="col-md-10">
            <input type="file" name="slika" class="image-upload-preview" data-preview-for="#profilePreview" />

            <img id="profilePreview" src="#" alt="Pregled slike"  class="profile-picture" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Lozinka</label>
        <div class="col-md-10">
            <input type="password" name="lozinka" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Registruj se" class="btn btn-default" />
        </div>
    </div>
</div>
}

